<%= form_for(@product) do |f| %>

<% if @product.errors.any? %>
  <div id = "error_explanation">
    <h2><%= pluralize(@product.errors.count, 'error') %>. Product not saved. </h2>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
      <li><%=message%></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.label :price_in_cents %><br>
      <%= f.number_field :price_in_cents %>
    </p>

    <p>
      <%= f.submit %>
    </p>

  </div>
<% end  %>
